body {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: gainsboro;
}
.btn {
  height: 200px;
  width: 200px;
  border-radius: 20%;
  border: 7px solid black;
  margin: 1rem;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.05s ease;
  box-shadow: 2.5px 2.5px 8px black;
}
.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.red {
  background-color: #d0392b;
}
.red:hover {
  background-color: #b01709;
}

.yellow {
  background-color: #f1c40f;
}
.yellow:hover {
  background-color: #d0a20d;
}

.green {
  background-color: #27ae60;
}
.green:hover {
  background-color: #058c40;
}

.purple {
  background-color: #9c27b0;
}
.purple:hover {
  background-color: #7a0590;
}

.flash {
  background-color: white !important;
  transition: background-color 0.25s ease;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

.usrflash {
  background-color: cyan !important;
  transition: background-color 0.25s ease;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

/* #strt{
  height: 60px;
  width: 120px;
  border-radius: 15px;
  border: 5px solid black;
  margin-top: 25px;
  font-weight: 500;
  font-size: larger;
  background-color: #3498db;
}
#strt:hover{
  background-color: #2387ca;
} */